[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "~=0.14"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
